.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;
}

.thumbnail img.pull-right {
  width: 50px;
}

.message-box {
    text-align: left;
    margin-top: 1em;
}

.messages-box {
    height: 100%;
}
.message-date {
    font-style: italic;
    font-size: 0.8em;
    padding-right: 2em;
    padding-left: 2em;
}
.user-profile {
    width: 30px;
    height: 30px;
    border-radius: 15px;
}